<!--movie.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Movies</a>
            </div>
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{.payload.PrittyName }}</h1>
    </div>

</div><!-- /container -->


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
